.pymt-dtls {
  position: relative;
  margin-top: 30px;
}
.pay-now {
  position: absolute;
  top: 80px;
  right: 40px;
}
.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #333;
  margin-bottom: 5px;
  margin-top: -20px;
}

.cart-header span {
  padding: 0 5px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(207, 203, 203);
}

.cart-item .left-arrow {
  margin-right: -45px;
  font-size: 20px;
}

.cart-item .item-quantity {
  font-size: 13px;
  font-weight: 400;
}

.cart-item .right-arrow {
  margin-left: -45px;
  font-size: 20px;
}

.cart-item .item-remove {
  font-size: 20px;
  margin: 0 20px;
}

.users-cart {
  margin: 20px 0;
}

.users-cart .total {
  float: right;
  margin: 5px 0px 10px 0;
  font-weight: bold;
}
