/* style={{ position: 'absolute', top: '50%', left: '50%', transform: "translate(-50%, -50%)", fontSize: 66 }} */
.add_product_card:hover {
  border-radius: 5%;
}
.add_product_plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 66px;
  color: rgb(122, 118, 118);
}

.add_product_plus:hover {
  color: rgb(24, 23, 23);
}

.product-item {
  margin: 20px;
  padding: 20px;
}
.product-item .image {
  padding: 20px;
  /* object-fit: cover; */
  background-color: white;
  min-height: 400px;
  border-radius: 10px;
}

.product-item .item-image {
  width: 250px;
  height: 300px;
}
.product-item .rating .rate {
  /* margin-top: 10px; */
  color: rgb(224, 5, 5);
}

.product-item .item-details {
  margin: 0 100px;
  background-color: white;
  padding: 20px;
  min-height: 400px;
  max-width: 600px;
  border-radius: 10px;
}

.wished {
  color: red !important;
}
