.profile-popup {
  position: absolute;
  top: 63px;
  right: 13px;
  width: 200px;
  height: 320px;
  z-index: 11;
  background-color: white;
  border-radius: 5%;
  color: #333;
  border: solid 1px var(--borders);
}

.arrow-up-userinfo {
  position: absolute;
  top: -16px;
  right: 21px;
  font-size: 23px;
  color: white !important;
}

.profile-popup .userinfo-name {
  font-size: 18px;
  padding: 0 15px;
  border-bottom: solid 1px var(--borders);
}

.profile-popup .userinfo-profile {
  border-bottom: solid 1px var(--borders);
  text-decoration: none;
  font-size: 18px;
  padding: 0 15px;
}
.profile-popup .userinfo-profile a {
  text-decoration: none;
  color: #333;
}
.profile-popup .userinfo-profile :hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.profile-popup .userinfo-wishlist {
  border-bottom: solid 1px var(--borders);
  text-decoration: none;
  font-size: 18px;
  padding: 0 15px;
}
.profile-popup .userinfo-wishlist a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}
.userinfo-wishlist:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}
.userinfo-settings {
  border-bottom: solid 1px var(--borders);
  text-decoration: none;
  font-size: 18px;
  padding: 0 15px;
}
.profile-popup .userinfo-settings a {
  text-decoration: none;
  color: #333;
}
.userinfo-settings:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}
.userinfo-btn {
  color: var(--secondary);
  font-size: 18px;
  padding: 0 15px;
  text-align: center;
}
.userinfo-btn:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

/* stars */

.star {
  transition: transform 1s ease-in-out;
}

.star:hover {
  transform: rotate(360deg);
}

.userinfo-settings .settings {
  margin-left: 10px;
}

/* My Profile */
.myprofile {
  width: 60%;
  height: 100vh;
  margin: 20px auto;
  line-height: 2.1;
  font-size: 17px;
}
.myprofile-header {
  text-align: center;
  /* margin-bottom: 20px; */
  font-size: 22px;
}
.myprofile-card {
  border-radius: 10px;
  border: solid 1px var(--borders);
  width: 100%;
  min-height: 450px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.myprofile-card-left {
  position: relative;
}
.myprofile-settings a {
  position: absolute;
  left: 0;
  bottom: 0;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
.myprofile-settings a:hover {
  color: black;
}

.myprofile-settings .settings {
  margin: 0 10px;
}
.myprofile-user {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.myprofile-userIcon {
  font-size: 60px;
  margin: 20px;
}
.myprofile-name {
  border-top: solid 1px var(--borders);
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.myprofile-name span {
  margin-bottom: 10px;
}

.myprofile-card-center {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}
.myprofileAddress {
  text-decoration: underline;
}
.myprofile-mapbox {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 5%;
}

.myprofile-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 15px;
}

.myprofile-wishlist,
.myprofile-purchase {
  position: relative;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.fa-grin-stars,
.fa-file-invoice {
  font-size: 100px;
  margin: 0 auto;
  color: rgb(143, 135, 135);
}
.history {
  font-weight: bold;
}
.myprofile-wishlist:hover,
.myprofile-purchase:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #e7ebee;
  border-radius: 5%;
}
.fa-grin-stars {
  color: rgb(143, 135, 135);
}

/* settings */

.settings-page {
  /* height: 100vh; */
}

.setting-header {
  width: 50%;
  margin: 20px auto;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.form-footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
