.wishlist-page {
  min-height: 100vh;
  margin-top: 20px;
}
h1 {
  width: 60%;
  margin: 10px auto;
  text-align: center;
}
.wishlist {
  /* width: 100%; */
  width: 60%;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: solid 1px rgb(172, 209, 240);
  border-radius: 10px;
  padding: 20px;
}
.wishlist-empty {
  margin: 20px 0;
  position: relative;
}
.wishlist-empty img {
  padding: 20px;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.wishlist-star {
  padding: 0 10px;
}
.wishlist-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wishlistitem {
  border-top: solid 1px rgb(172, 209, 240);
  margin-top: 20px;
  padding: 20px;
}

.wishlist-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}
.wishlist-title {
  width: 170px;
}

.wishlist-img {
  width: 100px;
  height: 80px;
}

.clickable-icon:hover {
  cursor: pointer;
  background-color: rgb(221, 220, 220);
}
