.footer-div {
  margin-top: 10px;
  position: relative;
  min-height: 90px;
}

.footer-div .footer-dtls {
  position: absolute;
  bottom: 33px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
}

.footer-div .footer-dtls .heart {
  color: red;
  line-height: 2em;
  font-size: 25px;
}
.copyright {
  text-align: center;
}
