Form {
  width: 100%;
}
.signup-header {
  width: 50%;
  margin: 20px auto;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.signup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.signup .signup_form {
  border-radius: 10px;
  border: solid 1px rgb(172, 209, 240);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 50%;
  padding: 20px;
}

.login {
  height: 100vh;
}
.login-title {
  text-align: center;
  margin: 30px auto;
}
.login-form {
  width: 50%;
  margin: 30px auto !important;
  padding: 30px !important;
  border-radius: 10px;
  border: solid 1px rgb(172, 209, 240);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
