.card {
  background: rgb(9, 72, 189);
  height: 150px;
  width: 250px;
  border-radius: 15px;
  position: relative;
  color: white;
}

.base {
  display: flex;
  flex-direction: column;
}
.credit {
  position: absolute;
  top: 10px;
  left: 20px;
}

.bank-name {
  position: absolute;
  top: 10px;
  right: 20px;
}
.bank-name img {
  width: 70px;
  height: 40px;
  border-radius: 5px;
}

.chip {
  position: absolute;
  top: 40px;
  left: 20px;
}
.chip img {
  width: 40px;
  height: 30px;
  border-radius: 10px;
}

.nr {
  margin-top: 75px;
  padding-left: 20px;
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: 900;
}
.cvv {
  position: absolute;
  top: 95px;
  left: 20px;
  font-size: 10px;
}
.card-dtl {
  padding-top: -15px;
  padding-left: 40px;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 100;

  position: absolute;
  top: 95px;
  right: 20px;
  font-weight: bolder;
}
.name {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-weight: bolder;
  font-size: 15px;
}
