.NavLinks {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  font-size: 19px;
  margin: 0 auto;
}
.NavLinks a {
  color: white;
}
.NavLinks a:hover {
  color: black;
}
/* star logo */
.star {
  transition: transform 0.8s ease-in-out;
}

.star:hover {
  transform: rotate(360deg);
}

.links a {
  margin-right: 35px;
}
.navlinks-wishlist {
  /* color: ; */
}
.navlinks-wishlist:hover {
  cursor: pointer;
  color: black !important;
}
.home-logo {
}
.search-field {
  display: flex;
  align-items: center;
}
.search-field .search {
  border-radius: 20px;
}

.visitor {
  padding-right: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.visitor .badge-icon {
  margin-right: 20px;
}

.visitor .badge .cart {
  margin-right: 20px;
  color: white !important;
  font-size: 21px;
  padding-left: 10px;
  padding-right: -10px;
}

.visitor .badge-icon:hover {
  cursor: pointer;
}
.visitor .user-login {
  font-size: 15px;
}

.visitor .user {
  margin-right: 15px;
}

.visitor .user-login .arrrow-down-user {
  margin-left: -12px;
  font-size: 18px;
}

.visitor .user-login:hover {
  cursor: pointer;
}
